body{
    background-image: url("fondazo.png");
    background-size: 95%;
    height: 900px;
    margin-top: 0px;
}

#content{
    padding-left: 20%;
    padding-right: 22.5%;
    padding-bottom: 5%;
    height: 100%;
}

#content #home{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 5%;
    background-color: #dbdbdb;
    height: 125%;
    margin-bottom: 20px;    
}

#content #prediction{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 5%;
    background-color: #dbdbdb;
    height: 100%;
    margin-bottom: 20px;
}

#content #provide{
    padding-top: 5%;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 10%;
}

#content #classify{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 5%;
    background-color: #dbdbdb;
    height: 100%;
    margin-bottom: 20px;
}

h1{
    margin-top: 23px;
    font-family: 'Roboto', sans-serif;
    color:white;
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
}

h2{
    color:Black;
    text-align: center;
    padding-bottom: 5%;

}

#content .tab{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #dbdbdb;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.tab button{
    background-color: rgb(97, 97, 97);
    font-family: "Lato", sans-serif;
    float: left;
    border: none;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 25%;    
}

.tab button.active{
    background-color: #dbdbdb;
    color: black;
}

.tab button:hover {
    background-color: #7a7a7a; /* Green */
}

.tab button:focus{
    outline: none;
}

.tab button.active:hover {
    background-color: #dbdbdb;
}

#text_intro{
    padding-left: 5%;
    padding-right: 5%;
}

#functionalities{
    list-style-type: square;
    padding-left: 7%;
    padding-right: 5%;
}

#list{
    padding-top: 1%;
}

#predictions{
    font-family: "Lato", sans-serif;
}

#predictions li.aguacate::before{
    content: "\1f951";
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    margin-right: 10px;   
    padding-bottom: 5px;    
}

#predictions li.mango::before{
    content: "\1f96d";
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */    
    margin-right: 10px;   
    padding-bottom: 5px;    

}

#predictions li.construccion::before{
    content: "\1f3e2";
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */ 
    margin-right: 10px;      
    padding-bottom: 5px;    

}

/*
Prediction functionality, upload form
*/

#upload_pred_form{

    position: relative;
    margin-left: 25%;
    width: 50%;
    height: 25%;
    border: 4px dashed #fff;
}

#upload_pred_form:hover{
    background-color: #c7c7c7;
}

#upload_text{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: black;
    font-family: Arial;    
}

#image_pred{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;    
}


/*
Classify functionality
*/

#classify_form{

    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 19em);
    justify-content: center;
}

.grid_img{
    border: 4px solid rgb(73, 73, 73);
}

.grid_img_selected{
    border: 4px solid rgb(73, 73, 73);
    opacity: 50%;
}

.grid_img:hover {
    transform: scale(1.05); 
}

.grid_img_selected:hover {
    transform: scale(1.05); 
}

#upload_button_classify:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#reload_button_classify{
    width: 72%;
}

#classify_submission{
    margin-left: 25%;
}

/*
Provide functionality, upload form
*/

#upload_prov_form{
    position: relative;
    margin-left: 25%;
    width: 50%;
    height: 25%;
    border: 4px dashed #fff;
}

#upload_prov_form:hover{
    background-color: #c7c7c7;
}

#provide_body{
    position: relative;
    margin-left: 25%;
}

#image_prov{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;    
}

#button_classes{
    float: center;
}

#canvasProv {
    width: 83%;
}

#canvasProv img {
    max-width: 26%;
    max-height: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

#canvasPred {
    height: auto; 
    width: auto; 
    max-width: 48%; 
    max-height: 114%;
}

#provError {
    width: 80%;
}

/*
    Thank you page
*/

.area {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    padding: 20.3rem;
    margin-top: 1rem;
    background-color: #eceeef;
    border-radius: .3rem; 
}

.text-xs-center {
    text-align: center !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00d423;
    border-color: #00c552;
}

.btn-group-sm > .btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #02a52b;
    border-color: #019b09;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
}

.display-3{
    color: #0a1f0b;
}

#video{
    text-align: center;
}