<!doctype html>
<html>
  <head>
    <title>Manvocado</title>
  </head>
  <body>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <div id="content">

      <h1>Manvocado: Clasificador de cultivos tropicales</h1>
      
      <div class="tab">

        <button class="tablinks active" onclick="changeTab(event, 'home')">Home</button>
        <button class="tablinks" onclick="changeTab(event, 'prediction')">Predecir</button>
        <button class="tablinks" onclick="changeTab(event, 'classify')">Clasificar</button>
        <button class="tablinks" onclick="changeTab(event, 'provide')">Aportar</button>

      </div>
 
      <div id="home" class="tab-content">

        <h2>Welcome to the Manvocado</h2>

        <div id="introduction">

          <p id="text_intro">Con el objetivo de complementar los modelos de Aprendizaje Profundo presentados en este Trabajo de Fin de Grado, acercándolos a un público específico
          de manera sencilla y amigable, se ha desarrollado esta aplicación web.
          </p>

          <p id="text_intro">Esta aplicación presenta 3 funcionalidades principales:</p>

          <ul id="functionalities">
            <li id="list"><b>Predecir</b>: se sube una imagen a la web para que nuestro modelo entrenado realice una predicción de la clase a la que pertenece.</li>
            <li id="list"><b>Clasificar</b>: se proporcionan diferentes imágenes pendientes de clasificar para que el usuario experto le asigne a cada una la clase que le corresponda. De esta manera, almacenamos los diferentes votos en nuestra base de datos, y al cumplirse el criterio de validación, se etiqueta definitivamente dicha imagen, siendo ya de utilidad para el modelo predictivo.</li>
            <li id="list"><b>Aportar</b>: se sube una imagen con el fin de etiquetarla con su clase correspondiente, enviándola para hacer crecer el conjunto de datos que alimenta al modelo.</li>
          </ul>
          <p id="text_intro"><b><u>IMPORTANTE</u></b>: las imágenes que se pueden subir a esta web deben estar estríctamente relacionadas con el contenido de la misma, a su vez, las dimensiones de estas deben ser de 256x256 píxeles, sin importar el formato de imagen (png, jpg, etc). Una herramienta útil para realizar recortes de estas dimensiones es la siguiente <a href="https://pinetools.com/es/partir-imagenes">web</a>, donde se pueden subir imágenes y realizar recortes de la misma de las dimensiones que se especifiquen.</p>
          <p id="text_intro">En las diferentes pestañas dedicadas a cada funcionalidad se puede encontrar más información e instrucciones de uso.</p>

          <p id="text_intro">A continuación se ofrece un tutorial que muestra el correcto uso de las funcionalidades que se han comentado.</p>
          <p id="video">
            <video width="640" height="480" controls>
              <source src="/static/icon/tutorial.mp4" type="video/mp4">
            </video> 
          </p>

        </div>

      </div>

<!--Tabs and their content-->

      <div id="prediction" class="tab-content" style="display:none">

        <h2>Sube una imagen para predecir su clase.</h2>

        
        <div id="upload_pred_form">

          <input id="image_pred" type=file name=file onchange="handleFilesPred(event)">
          <p id="upload_text">Sube aquí la imagen.</p>
          <canvas width="64" height="64" id="canvasPred"></canvas>
          <input id="upload_button_pred" class="btn btn-primary btn-sm" type="submit" value="Predecir" onclick="predictImage()" style="display:none">
          <p id="textPredValues" style="display:none"></p>
          <div id="predValues"></div>
        </div>

      </div>




      <div id="classify" class="tab-content" style="display:none">

        <h2>Etiqueta las siguientes imágenes según su clase.</h2>

        <div id="classify_form">

          <figure>
            <img src="{{image1}}" class="grid_img" id="img1" onclick="selectImage(event)">
          </figure>

          <figure>
            <img src="{{image2}}" class="grid_img" id="img2" onclick="selectImage(event)">
          </figure>

          <figure>
            <img src="{{image3}}" class="grid_img" id="img3" onclick="selectImage(event)">
          </figure>

          <figure>
            <img src="{{image4}}" class="grid_img" id="img4" onclick="selectImage(event)">
          </figure>

        </div>

        <div id="classify_submission">

          <input id="reload_button_classify" class="btn btn-primary btn-sm" type="submit" value="Recargar" onclick="reload()">

          <p id="class_to_classify">Seleccione todas las imágenes que se correspondan con: Aguacate</p>

          <input id="upload_button_classify" class="btn btn-primary btn-sm" type="submit" value="Clasificar" onclick="classify()">

        </div>

      </div>




      <div id="provide" class="tab-content" style="display:none">

        <h2>Contribuye con nuestro conjunto de datos subiendo y clasificando una imagen.</h2>

        <div id="upload_prov_form">

          <input id="image_prov" type=file name=file multiple onchange="handleFilesProv(event)">
          <p id="upload_text">Sube aquí la imagen.</p>

        </div>

        <div id="provide_body">

          <p>Seleccione la clase a la que corresponde la imagen: </p>
          <input id="button_classes" type="radio" name="button" value="avocado" onchange="classified()"/> Aguacate
          <input id="button_classes" type="radio" name="button" value="mango" onchange="classified()"/> Mango
          <input id="button_classes" type="radio" name="button" value="building" onchange="classified()"/> Construcción
          <p id="selected_image" style="display:none">Imagen seleccionada: </p>
          <div width="64" height="64" id="canvasProv"></div>
          <input id="upload_button_prov" class="btn btn-primary btn-sm" type="submit" value="Upload" onclick="provideImage()" style="display:none">
          
          <div id="provError"></div>

        </div>

      </div>



    </div>

  </body>
</html>