

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Thank you</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>

  <div class="area text-xs-center">
      <h1 class="display-3">Muchas gracias!</h1>
      <p class="lead">Gracias por contribuir al enriquecimiento de nuestro conjunto de datos.</p>
      <hr>
      <p class="lead">
         <a class="btn btn-primary btn-sm" href="/" role="button">Continuar a la página principal</a>
      </p>
   </div>
  

</body>

</html>

